name: Prepare build package

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string

jobs:
  integration_tests:
    name: Build and Publish package
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Add package source
      run: dotnet nuget add source --username tatumio --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/tatumio/index.json"
    - name: ${{ inputs.name }} Integration Test - Restore dependencies
      run: dotnet restore ./Tatum.CSharp.${{ inputs.name }}.Tests.Integration/Tatum.CSharp.${{ inputs.name }}.Tests.Integration.csproj
    - name: ${{ inputs.name }} Integration Test - Build
      run: dotnet build ./Tatum.CSharp.${{ inputs.name }}.Tests.Integration/Tatum.CSharp.${{ inputs.name }}.Tests.Integration.csproj --no-restore --configuration Release
    - name: ${{ inputs.name }} Integration Test - Run Test
      run: dotnet test ./Tatum.CSharp.${{ inputs.name }}.Tests.Integration/Tatum.CSharp.${{ inputs.name }}.Tests.Integration.csproj --no-build --verbosity normal --configuration Release