name: Tatum.CSharp Nuget Release - Chains
run-name: ${{ inputs.source }}

on:
  workflow_dispatch:
    inputs:
      source:
        type: string
        description: 'Source of event'
        required: false
        default: ''
      version:
        description: 'Package Version'
        required: true
        type: string

env:
  DOWNSTREAM_DISPATCH_ADDRESS: https://api.github.com/repos/tatumio/tatum-csharp/actions/workflows/postRelease.yml/dispatches
  DOWNSTREAM_DISPATCH_ADDRESS_UNITY: https://api.github.com/repos/tatumio/tatum-csharp/actions/workflows/prepareUnityPackages.yml/dispatches

jobs:
  Core_Release:
    name: EVM - Release Local
    uses: ./.github/workflows/releaseNugetPackage.yml
    with:
      name: Evm.Local
      version: ${{ inputs.version }}
      dependsOn: Core
    secrets: inherit

  Nuget_Wait_Core:
    name: Core Nuget package wait
    uses: ./.github/workflows/waitForNuget.yml
    with:
      name: Core
      version: ${{ inputs.version }}
    secrets: inherit
    needs: Core_Release
    
  EVM_Release:
    name: EVM - Release Local
    uses: ./.github/workflows/releaseNugetPackage.yml
    with:
      name: Evm.Local
      version: ${{ inputs.version }}
      dependsOn: Core
    secrets: inherit
    needs: Nuget_Wait_Core

  Nuget_Wait_EVM:
    name: EVM Nuget package wait
    uses: ./.github/workflows/waitForNuget.yml
    with:
      name: Evm.Local
      version: ${{ inputs.version }}
    secrets: inherit
    needs: EVM_Release
  
  ETH_Release:
    name: ETH - Release
    uses: ./.github/workflows/releaseNugetPackage.yml
    with:
      name: Ethereum
      version: ${{ inputs.version }}
      dependsOn: Evm.Local
    secrets: inherit
    needs: Nuget_Wait_EVM

  Nuget_Wait_ETH:
    name: ETH Nuget package wait
    uses: ./.github/workflows/waitForNuget.yml
    with:
      name: Ethereum
      version: ${{ inputs.version }}
    secrets: inherit
    needs: ETH_Release
    
  BTC_Local_Release:
    name: BTC - Release Local
    uses: ./.github/workflows/releaseNugetPackage.yml
    with:
      name: Bitcoin.Local
      version: ${{ inputs.version }}
      dependsOn: Core
    secrets: inherit
    needs: Nuget_Wait_Core

  Nuget_Wait_BTC_Local:
    name: BTC Local Nuget package wait
    uses: ./.github/workflows/waitForNuget.yml
    with:
      name: Bitcoin.Local
      version: ${{ inputs.version }}
    secrets: inherit
    needs: BTC_Local_Release
  
  BTC_Release:
    name: BTC - Release
    uses: ./.github/workflows/releaseNugetPackage.yml
    with:
      name: Bitcoin
      version: ${{ inputs.version }}
      dependsOn: Bitcoin.Local
    secrets: inherit
    needs: Nuget_Wait_BTC_Local

  Nuget_Wait_BTC:
    name: BTC Nuget package wait
    uses: ./.github/workflows/waitForNuget.yml
    with:
      name: Bitcoin
      version: ${{ inputs.version }}
    secrets: inherit
    needs: BTC_Release
  
  Post_Release_Tests:
    name: Dispatch Post Release Tests
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Post Release Tests
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{secrets.DISPATCH_TOKEN}}" \
          -H "Accept: application/vnd.github.v3+json" \
          '${{ env.DOWNSTREAM_DISPATCH_ADDRESS }}' \
          -d '{"ref": "master", "inputs": {"source": "${{ inputs.source }}", "version": "${{ inputs.version }}"}}'
    needs: [Nuget_Wait_BTC, Nuget_Wait_ETH]
    
  Prepare_Unity_Package:
    name: Dispatch Unity Package preparation
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Unity Package preparation
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{secrets.DISPATCH_TOKEN}}" \
          -H "Accept: application/vnd.github.v3+json" \
          '${{ env.DOWNSTREAM_DISPATCH_ADDRESS_UNITY }}' \
          -d '{"ref": "master", "inputs": {"source": "${{ inputs.source }}", "version": "${{ inputs.version }}"}}'
    needs: [ Nuget_Wait_BTC, Nuget_Wait_ETH ]