name: Nuget package listing wait

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  nuget_wait:
    name: Nuget package wait
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Check if package is available
      run: |
          totalHits=0
          checkUntil=0
          while true; do
            curl -o response.json -s -X GET 'https://azuresearch-usnc.nuget.org/query?q=packageid:Tatum.CSharp.${{ inputs.name }}%20version:${{ inputs.version }}&prerelease=true'
            totalHits="`grep -o '"totalHits":[0-9]*' response.json`"
            totalHits=${totalHits#*:}
            echo "Total Hits: ${totalHits}"

            echo "Checking for hits"
            if [ "$totalHits" -gt "$checkUntil" ]; then
              echo "Success"
              break
            fi

            echo "Sleeping for 30 seconds..."
            sleep 30
          done
          echo "Exiting"
